body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200;
  margin: 0;
  color: #333;
}

a {
  color: hsl(200, 50%, 50%);
  text-decoration: none;
}

a:hover {
  color: hsl(200, 50%, 33%);
}

a:active {
  color: hsl(10, 50%, 50%);
}

.padbox {
  padding: 40px;
}

.branding {
  border-bottom: 1px solid hsl(200, 0%, 90%);
}

.branding h1,
.branding h2 {
  font-weight: 200;
}

.navbar {
  padding: 0;
  margin: 0;
  text-align: center;
}

.navbar > li {
  display: inline-block;
  padding: 20px 20px 0 20px;
}

.navbar > li > a {
  display: block;
}
